img {
    height: 350px;
    width: auto;
    border-radius: 10%;
    align-self: center;
}

body {
    background-color: rgba(128, 196, 190, 0.041);
}

.leftCol {
    margin-top: 2%;
    padding-left: 5%;
}

h1 {
    font-family: Snell Roundhand, cursive;
    font-size: 42px;
    font-weight: 600;
    margin-top: 10%;
}

hr {
    border-top: 1px solid #a19b9b98;
}

.tabgroup {
    margin-top: 3%;
}

.tab-content {
    margin-top: 2%;
    margin-left: 2%;
}

.symbolGroup {
    outline: none;
}