img {
    height: 350px;
    width: auto;
    border-radius: 10%;
    align-self: center;
}

body {
    background-color: rgba(128, 196, 190, 0.041);
}

.leftCol {
    margin-top: 5%;
    padding-left: 10%;
}

h1 {
    font-family: Snell Roundhand, cursive;
    font-size: 42px;
    font-weight: 600;
    margin-top: 10%;
}

hr {
    border-top: 1px solid #a19b9b98;
}

.tabgroup {
    margin-top: 3%;
    padding-right: 10%;
    padding-left: 10%;
}

.tab-content {
    margin-top: 2%;
    margin-left: 2%;
    
}
dt{
    font-weight: 400;
    font-size: 22px;
    margin-top: 5%;
    margin-bottom: 0.5%;
    font-family: Palatino, URW Palladio L, serif;
}
dd {
    font-size: 15px;
    margin-left: 2%;
    font-family: Times, Times New Roman, serif;
}

.symbolGroup {
    outline: none;
}

.date {
    font-size: 18px;
}

.footnote {
    font-size: 15px;
}

p.description {
    text-align: justify;
    text-justify: inter-word;
    padding-right: 10%;
}